h1 {
    padding-top: 100px;
    text-align: center;
    color: #addde6;
}

table {
  color: #addde6;
}

button {
    border-color: #addde6;
    color: brown;
}

.nav {
  margin: auto;
  text-align: center;
  display: inline;
}

.navel {
  padding-left: 50px;
  padding-right: 50px;
}

/* .navleft {
  float:left;
}

.navcenter {
  float: center;
}

.navright {
  float: right;
} */

/* #menu {
    background-color: #D8D8D8;
    color: white;
    padding: 20px;
    list-style: none;
    display: inline;
}

 #menu li {
  display: inline;
} */
