

h1 {
    text-align: center;
    color: #addde6;
}

/* ul {
  text-align: center;
} */

.nav {
  margin: auto;
  /* display: table; */
}

ul#menu {
    background-color: #D8D8D8;
    color: white;
    padding: 20px;
    list-style: none;
}

ul#menu li {
  display: inline;
}
